@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Rampart+One');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #eddfcc;
    font-family: "Luckiest Guy";
}

#results {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px;
    margin-right: 20px;
}

#results > div {
    flex-shrink: 0;
    font-family: "Bangers";
    font-size: 24px;
    font-weight: bold;
}

#welcome {
    font-size: 50px;
    text-align: center;
    width: auto;
}

#instructions {
    color: #d11212;
    font-size: 15px;
    text-align: center;
    width: auto;
}


#display {
    display: flex;
    flex-direction: column;
}

#card-pile {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
    gap: 70px;
}
  
.card {
    width: 250px;
    height: 325px;
    display: flex;
    flex-direction: column;
    margin: 25px auto;
  
}

  
.card-top {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Rampart One";
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    background-color: #e05b27;
    border-radius: 10px 10px 0 0;
}
  
  .card-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    border: 5px solid #e05b27;
}

.selected {
    width: 175px;
    height: auto;
}

#game-descript {
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#game-descript > div {
    font-family: "Bangers";
    font-size: 24px;
    text-align: center;
}


#selection {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 4px;
    padding: 25px 0;
    margin: 5px 75px;
    background-color: white;
}

.box {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}



h2 {
    font-family: "Bangers";
    font-size: 35px;
    text-align: center;
}

#button-container {
    display: flex;
    justify-content: space-evenly;
    flex: 1 0 auto;
}


button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

img {
    width: 100px;
    height: auto;
}
.img-hover:hover {
    width: 115px;
    height: auto;
    border: #e05b27 solid 15px;
    border-radius: 10%;
}

#answer {
    width: 100px;
    height: auto;
}
